.textView{
  display: inline-block;
  vertical-align: top;
  left: 0px;
  width:16%;
  height:100%;
  border-right: 1px solid #c9c9c9;
}

.graphView {
  display: inline-block;
  vertical-align: top;
  /*padding: 10px 10px 0px 10px;
  margin-left: 5px;
  margin-right: 5px;*/
  width:100%;
  height: 95vh;
  font-size: 13pt;
  font-family: m_helveticaFont;
  overflow: hidden;
  background: white;
}


/* Clear floats after the columns */
.graphView:after {
  content: "";
  display: table;
  clear: both;
}

.transGraphContent{
  float: right;
  height: 100%;
  width: 30%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6C757D;
  border-bottom: 16px solid #6C757D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*************************  Navigation Bar ***************************/

.search-container {
  float: right;
}


/*************************  Side Bar ***************************/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background: #222;
  /*background: #222227;*/
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  height: 95vh;
  /*min-height: 100vh;*/
  /*background: #333;*/
  color: #333;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6C757D;
}

#sidebar ul.components {
  padding: 0 0;
  /*border-bottom: 1px solid #6C757D;*/
}

#sidebar ul p {
  color: #6C757D;
  padding: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #6C757D;
  background: #F4F3EF;
}
ul ul a {
  font-size: 1em !important;
  padding-left: 10px;
  color: #6C757D;
  background: #F4F3EF;
}

#entity-menu {
  width: 270px;
  height: 60vh;
  line-height: 1.1;
  overflow-y: auto;
}

#entity-menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 5px;
  text-decoration: none;
}

#entity-menu a:hover {
  background-color: #6C757D;
}

#entity-menu a.active {
  background-color: white;
  color: white;
}

/*************************  Concordance View ***************************/
#concordance-view {
  background: #FFFFFF;
  left: 10%;
  right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 500;
  height: 50%;
  top: 12%;
  font-size: 13px;
  visibility: hidden;
  font-family: m_helveticaFont;
  /*border: 1px solid gray;
  box-shadow: 0 0 15px 8px rgba(0,0,0,0.4);*/
  -webkit-box-shadow: 3px 5px 15px 2px darkgrey;
  -moz-box-shadow: 3px 5px 15px 2px darkgrey;
  box-shadow: 3px 5px 15px 2px darkgrey;
}
 #concordance-view-content {
  background: #FFFFFF;
  margin-left: 15px;
  overflow: auto;
  text-align: left;
  font-size: 13px;
  font-family: m_helveticaFont;
  height: 100%;
}
#concordance-close {
  width: 25px;
  height: 25px;
  float: right;
  left: 99%;
  top: 30px;
  background-repeat: no-repeat;
  background-image: url(img/close.png);
  background-size: 25px 25px;
}
#concordance-close:hover {
    background-color: #9ecae1;
}

/*************************  Graph View ***************************/
.svgGroup {
  border-right:1px solid #d6d6d6;
  /*border-radius: 5px;*/
  background-color: white;
  height:92vh;
  margin: 2px;
}

.svgCircles {
  /*border:2px solid #6c757d;*/
  border-radius: 5px;
  background-color: white;
  width:100%; 
  height:71.5vh;
  margin-top: 2px;
}

.svgTrans {
  /*border:2px solid #6c757d;*/
  border-radius: 5px;
  background-color: white;
  width:100%; 
  height:92vh;
  /*margin-top: 2vh;*/
  float: right;
}

.title {
  color: #6C757D;
  text-align: center;
}

.divText {
  border:1px solid #d6d6d6;
  border-radius: 5px;
  background-color: white;
  width:100%; 
  height:20vh;
  line-height: 1.2;
  list-style: none;
  list-style-type: none;
  padding: 10px;
  margin-top: 2px;
  overflow: auto;
}

.svgLegend {
  border:2px solid #6c757d;
}

.shadows {
  -webkit-box-shadow: 0px 0px 8px 5px black;
  -moz-box-shadow: 0px 0px 8px 5px black;
  box-shadow: 0px 0px 8px 5px black;
}

.glow{
  -webkit-box-shadow: 0px 0px 8px 5px black;
  -moz-box-shadow: 0px 0px 8px 5px black;
  box-shadow: 0px 0px 8px 5px black;
}

.d3-tip {
  line-height: 1.2;
  position: absolute;
  z-index: 150;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  border-radius: 2px;
  /*border:2px solid gray; */
  word-wrap: break-word;
  max-width: 250px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.conceptTip {
  line-height: 1.2;
  position: absolute;
  z-index: 150;
  padding: 10px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  color: #212529;
  border-radius: 2px;
  /*border:2px solid gray; */
  word-wrap: break-word;
  max-width: 350px;
  -webkit-box-shadow: 3px 5px 15px 2px darkgrey;
  -moz-box-shadow: 3px 5px 15px 2px darkgrey;
  box-shadow: 3px 5px 15px 2px darkgrey;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.infoTip {
  line-height: 1.2;
  position: relative;
  display: inline;
  z-index: 150;
  padding: 10px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  color: #212529;
  border-radius: 2px;
  /*border:2px solid gray; */
  word-wrap: break-word;
  max-width: 350px;
  -webkit-box-shadow: 3px 5px 15px 2px darkgrey;
  -moz-box-shadow: 3px 5px 15px 2px darkgrey;
  box-shadow: 3px 5px 15px 2px darkgrey;
  /*-moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.infoTip:hover:after {
  position:absolute;
}

.infoTip:hover:before {
  position:absolute;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tdText {
  word-break: break-word;
  hyphens: auto; 
  padding: 5px;
}

.thumbnail{
  display: block;
  margin:0 auto 10px auto;
  max-width:80%;
  max-height:150px;
}

.abstract{
  height: 150px;
  overflow-y : auto;
  font-size: 10pt;
  font-weight: normal;
  text-align: justify;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
}

.nameTip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.nameTip .tooltiptext {
  visibility: hidden;
  line-height: 1.2;
  position: absolute;
  z-index: 150;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  border-radius: 2px;
  /*border:2px solid gray; */
  word-wrap: break-word;
  max-width: 250px;
}

.nameTip:hover .tooltiptext {
  visibility: visible;
}

@font-face {
  font-family: m_helveticaFont;
  /*src: {{ url_for('static', filename='fonts/Helvetica-400.ttf') }};*/
  /*src: url("DroidSansMono.ttf") format('ttf');*/
  src: url(/static/fonts/Helvetica-400.ttf);
}

.wordcloud {
  font-family: m_helveticaFont;
  /*font-family: helvetica, Arial;*/
  pointer-events: none;
}
