.textView{
  display: inline-block;
  vertical-align: top;
  left: 0px;
  width:16%;
  height:100%;
  border-right: 1px solid #c9c9c9;
}

.graphView {
  display: inline-block;
  vertical-align: top;
  padding: 20px 10px 0px 10px;
  margin-left: 5px;
  margin-right: 5px;
  width:100%;
  height: 100%;
  font-size: 13px;
  font-family: helvetica, sans-serif;
  overflow: hidden;
  background: #f1f1f1;
}

/* Clear floats after the columns */
.graphView:after {
  content: "";
  display: table;
  clear: both;
}

.left_col {
  float: left;
  width: 50%;
}

.right_col {
  float: right;
  width: 50%;
}

/*************************  Navigation Bar ***************************/

.search-container {
  float: right;
}


/*************************  Side Bar ***************************/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  /*background: #ececf3;*/
  *background: #222227;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  /*background: #333;*/
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #222;
}

#sidebar ul.components {
  padding: 0 0;
  border-bottom: 1px solid #6C757D;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #222;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #222;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  color: #fff;
  background: #222;
}