<!DOCTYPE html>
<html lang="en">
<head>
<title>Example of Bootstrap</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
<script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



<style></style>
</head>
<body>
<nav id="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="">Site name</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""> <a href="/nl/" class="home" >Home</a></li>
        <li class="dropdown"> <a href="javascript:void(0)" class="services dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">Diensten <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Webdesign</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Internet marketing</a></li>
            <li><a href="#">Hosting diensen</a></li>
          </ul>
        </li>
        <li class=""> <a href="/nl/about" class="about" >Over mij</a></li>
        <li class=""><a href="/nl/contact" class="contact" >Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>